body{
    background-color: rgba(0, 0, 0, 0.575);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container{
    color: aqua;
}
.digit{
    font-size: 150px;
    font-weight: bold;

}

.txt{
    font-size: 40px;
    font-weight: bold;
}
#btn-conatiner{
    text-align: center;
    margin-top: 40px;
}
.btn{
    padding: 7px 25px;
    font-size: 15px;
    margin: 0px 10px;
    color: blueviolet;
    background-color: black;
    border: 0px;
    cursor: pointer;
}
#start{
 color: green;
}
#stop{
 color: blue;
}
#reset{
color: red;
}